/* Header */
.site-header,.site-header--stuck {
        box-shadow: 0px 6px 20px #00000012;
    }
/* Product CSS override */
.page-content.page-content--product .grid__item.medium-up--one-half:nth-child(2) {
    background: #fff1f1;
}
.product-single__meta img {
    mix-blend-mode: multiply;
}
.js-qty__adjust--minus,.js-qty__adjust--plus {
    border-right: unset;
    background: #111;
}
.js-qty__adjust .icon ,.js-qty__adjust .icon{
    fill: #ffffff !important;
}
@media only screen and (min-width: 769px) {
.grid__item.medium-up--one-half {
    padding: 50px 0;
}
  
  .page-content.page-content--product .grid__item.medium-up--one-half{
    padding: 6%;
}
  .page-content.page-content--product .grid__item.medium-up--one-half:nth-child(1) {
    padding-top: 0% !important;
}
  .product-single__meta {
    padding-left: 0 !important;
}
.grid__item.medium-up--one-half {
    position: sticky;
    top: 69px;
}
.page-content.page-content--product {
    padding-top: 0;
}
.page-content.page-content--product {
    padding-bottom: 0;
}
.page-content.page-content--product .page-width {
    max-width: unset;
    padding: 0;
}
}

/* Global CSS Update May 9 2025 */
.shopify-section h2 {
    font-size: 40px;
}
div.hero__subtitle > div > div {
    max-width: 910px;
}
.image-wrap img:not([role=presentation]), .image-wrap svg, .image-wrap .animate-me {
    opacity: 1 !important;
}
blockquote.testimonials-slider__text img {
    height: auto !important; 
}
/* Testimonial */
.text-center .testimonail-image {
    margin-left: -25px !important;
    margin-right: -25px !important;
    width: calc(100% + 50px) !important;
    max-width: unset !important;
    margin-top: -25px;
}

ul.slick-dots {
    display: none !important;
}
/* Menu Nav */
/* Products */
div#CollectionSection-1598506747424 .page-width.page-width--flush-small {
    max-width: 100%;
}
div#shopify-section-1598506747424 {
    padding-bottom: 0;
}
div#shopify-section-1598506747424 .grid.grid--uniform.aos-init.aos-animate {
    background: #ffeded;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 80px;
}
div#shopify-section-1598506747424 {
    background: #FFEDED;
}
/* Mega Menu dropdown */

@media only screen and (min-width: 769px) {
  
.site-nav__dropdown {
    background-color: #00000000 !important;
    padding: 10px 0 5px !important;
    box-shadow: unset !important;
}
  /* Testimonial */
  div#shopify-section-1598506673114 .page-width.text-center {
    padding: 0px 2px;
}
 .testimonials-slider.slick-initialized .slick-list.draggable {
    margin-bottom: -5%;
}
  .rte-setting.text-spacing {
    min-height: 110px;
}

 .testimonials-slider.slick-initialized .slick-track {
    scale: 0.8;
    margin-left: -9%;
    margin-top: -7%;
}
}
 .testimonials-slider.slick-initialized .slick-track {
    scale: 0.8;
    margin-left: -9%;
    margin-top: -7%;
}
@media only screen and (max-width: 768px) {

div#shopify-section-promo_grid_89YH7w .flex-grid__item {
    min-height: 450px;
}
}
/* Hide extra announcement */

div#fsb_container {
  display: none !important;
}
/*----------------------- */

.announcement-bar {
  background-color: #cf7e7e !important;
  color: #ffffff !important;
}
.announcement-link,
.announcement-link:hover {
  display: block !important;
  color: #ffffff !important;
}
.site-nav__link {
    color: #000000 !important;
}
.header-layout[data-logo-align=center] .site-header__logo img {
    margin-left: auto;
    margin-right: auto;
    filter: invert(1);
}
  .site-header {
    padding: 12px 0 !important;
    background: #ffffffeb !important;
  }
@media only screen and (min-width: 769px) {
.header-item.header-item--split-left {
    display: flex;
    justify-content: start !important;
}
.header-item.header-item--split-right {
    display: flex;
    justify-content: flex-end !important;
}
  span.announcement-link-text {
    text-decoration: none !important;
}


  div#shopify-section-header {
    z-index: 99999 !important;
    position: relative !important;
  }
}



.hero[data-bars] .slick-dots {
  bottom: 20px !important;
}

/* Banner*/
/* .hero {
    background: #ffffff !important;
} */
.hero__text-shadow:before{
  background:unset !important;
}
/* .slick-slider[data-bars] .slick-dots li button:after {
    background-color: #31313140 !important;
    box-shadow: 0 0 75px #000c;
}
.slick-slider[data-bars] .slick-dots li.slick-active button:before {
    background-color: #050505 !important;
} */
div#shopify-section-1598526815360 .animation-contents {
    color: #fff;
}
.hero__text-wrap {
    position: relative;
    height: 100%;
    color: #ffffff;
}
.hero__top-subtitle {
    margin-bottom: 20px !important;
}
.hero__subtitle {
    font-family: 'Josefin Sans';
}
/* Feature Producs Section */
    .index-section {
        margin: 0 !important;
        padding-top: 6%;
      padding-bottom: 5%;
        background: #ffeded;
    }
div#shopify-section-1598506747424 {
    padding-top: 0 !important;
}
.hero__image-wrapper:before, .hero__media:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: #00000087 !important;
    opacity: 1 !important;
}

/* Bundles */
div#shopify-section-advanced_content_efpp8j .index-section {
    padding-bottom: 10px !important;
    background: #ffeded;
}
div#shopify-section-1598506747424 .grid__item {
    padding-left: 5px;
}
div#shopify-section-1598506747424 .page-width.page-width--flush-small {
    padding: 0;
    padding-left: 20px;
}
/* 3 Collections */
div#shopify-section-1598509434385 {
    padding: 0;
}
div#shopify-section-1598509434385 .page-width {
    padding: 0;
}
div#shopify-section-1598509434385 .page-width {
    max-width: 100%;
}
div#shopify-section-1598509434385 .grid__item {
    padding-left: 0px;
}
div#shopify-section-promo_grid_89YH7w .type-simple .promo-grid__content:not(.promo-grid__content--boxed):not(.promo-grid__content--sale) {
    color: #fff !important;
}
div#shopify-section-promo_grid_89YH7w .vertical-center .promo-grid__content {
    -ms-flex-item-align: flex-end;
    -ms-grid-row-align: flex-end;
    align-self: flex-end;
}
div#shopify-section-promo_grid_89YH7w .flex-grid__item:hover .promo-grid__bg {
    scale: 1.08;
    transition: all .5s ease-in-out;
}

.flex-grid__item .promo-grid__bg {
    scale: 1;
    transition: all .5s ease-in-out;
}
/* 3 Modules */
div#shopify-section-promo_grid_89YH7w .promo-grid__container:not(.promo-grid__container--boxed) .promo-grid__bg:before {
    background: linear-gradient(0deg, rgb(0 0 0 / 81%) 0%, rgba(0, 0, 0, 0) 100%) !important;
    opacity: .8 !important;
}

div#shopify-section-promo_grid_4p7Wbq {
    padding-bottom: 90px;
}
div#shopify-section-promo_grid_4p7Wbq .flex-grid__item .promo-grid__bg {
transition: all .5s ease-in-out;
    border: 0;
}
div#shopify-section-promo_grid_4p7Wbq a.promo-grid__container {
    pointer-events: none;
}
#shopify-section-promo_grid_4p7Wbq .vertical-center .promo-grid__content {
background: #cf7f7f;
    border-radius: 7px;
    padding: 10px !important;
    margin-bottom: 24px;
    align-self: end;
    color: #fff !important;
}

/* Testimonial */
div#shopify-section-1598506673114 .text-center .slick-slider .testimonials-slider__text {
    background: white;
    padding: 25px;
    min-height: 275px;
    margin-left: 0;
    margin-right: 0;
}
.testimonials-slide {
    padding: 0 !important;
}
.text-center .slick-slider .testimonials-slider__text {
    margin-left: 0;
    margin-right: 0;
}
/* Content sections */
div#shopify-section-1598506520048 .feature-row__text--left {
        padding: 60px;
        background: white;
    }
    div#shopify-section-1598506617521 .feature-row__text--right {
        padding: 60px;
        background: white;
    }



/* Temporaries */
div#shopify-section-1598506673114 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    background: #FFECEC;
}
div#shopify-section-advanced_content_Yxamnx .index-section {
    padding-top: 5%;
}

div#shopify-section-advanced_content_YEwX8M .index-section,
div#shopify-section-promo_grid_4p7Wbq{
    background: #FFECEC;
}
.testimonials-slide {
    margin-bottom: 0 !important;
}
div#shopify-section-advanced_content_YEwX8M .index-section {
    padding-bottom: 0;
}
#shopify-section-advanced_content_kkiUim > div > div.custom__item.small--one-whole.one-half.align--center {
    padding: 6%;
}
div#shopify-section-advanced_content_kkiUim {
    background: #ffecec;
}

/* Shop */
div#CollectionAjaxResult {
    background: #FFECEC;
}
div#CollectionAjaxResult .grid__item {
    padding-left: 3px;
}
#CollectionSection div.grid-product__meta > div:nth-child(2) {
    display: none;
}
div#CollectionAjaxResult .grid {
    margin: 0;
}
#shopify-section-1598526815360 > div {
    display: block !important;
}
#shopify-section-advanced_content_kkiUim > div > div.custom__item.small--one-whole.one-half.align--top-middle {
    margin-bottom: 15px;
}
.testimonials-slider.slick-initialized {
    cursor: grab;
    background: #fff;
}
@media only screen and (max-width: 769px) {
.hero--100vh {
    height: 59vh !important;
}
  .shopify-section h2 {
    font-size: 1.8em !important;
}
}
div#shopify-section-1598506673114 .page-width.text-center {
    max-width: 100% !important;
}